language: julia
sudo: required
dist: precise
os:
  - linux
julia:
  - 0.6
notifications:
  email: false
cache:
  directories:
  # cache all packages
  - $HOME/.julia
script:
  # remove cache of our own package
  - rm -rf $HOME/.julia/v0.6/NonlinearEigenproblems
  - git fetch --unshallow
  - julia --color=yes -e 'Pkg.clone(pwd())'
  - julia --color=yes -e 'Pkg.build("NonlinearEigenproblems")'
  # delete old test coverage results
  - find $HOME/.julia -name '*.jl.*cov' -delete
  # filter out "method definition overwritten" warnings
  - julia --check-bounds=yes --color=yes -e 'Pkg.test("NonlinearEigenproblems", coverage=true)'
before_cache:
  # add Coverage package to cache, so that we don't have to install it on each run
  - julia -e 'Pkg.add("Coverage");'
after_success:
  - julia -e 'include("test/submit_test_coverage.jl")'
